PORT=8080
NODE_ENV=production
JWT_SECRET=aloo_super_secret_jwt_key_2026
DATABASE_URL=postgresql://postgres:password@host:5432/railway
CLIENT_URL=https://smm-admin-panel-fron-production.up.railway.app
MYSEONE_SYNC_ENABLED=true
MYSEONE_BASE_URL=https://my.se-one.uz
MYSEONE_LOGIN=your_myseone_login
MYSEONE_PASSWORD=your_myseone_password
MYSEONE_TIMEOUT_MS=15000
